<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,155},{39,38}}</string>
                <key>offset</key>
                <string>{-39,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{39,38}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,155},{63,62}}</string>
                <key>offset</key>
                <string>{-39,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{63,62}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,158},{79,62}}</string>
                <key>offset</key>
                <string>{-25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{79,62}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,162},{99,62}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{99,62}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{131,62}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{131,62}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,146},{131,100}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{131,100}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{113,152}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{113,152}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,139},{115,152}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{115,152}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{151,138}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{151,138}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{137,154}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{137,154}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,158}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{145,158}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{139,142}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{139,142}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,117},{125,136}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{125,136}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{135,134}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{135,134}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,117},{125,126}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{125,126}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectStaining.png</string>
            <key>size</key>
            <string>{977,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57c1785a468eae841fd928b53396fa00:3b626c9a82cb2b3a0552235e001fd6e3:7d322c9357f5bb93777436a2cd9ae9f5$</string>
            <key>textureFileName</key>
            <string>effectStaining.png</string>
        </dict>
    </dict>
</plist>
