<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{85,69}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{85,69}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>bomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{135,107}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{135,107}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>bomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{163,135}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{163,135}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>bomb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,135}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{163,135}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>bomb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,276},{133,127}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{133,127}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64492b9391457ea1561c4afbfa7d651e$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
